*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Poppins',sans-serif;
}
section
{
	position:relative;
	width: 100%;
	min-height:100vh;
	padding:100px;
	display:flex;
	justify-content: space_between;
	align-items: center;
	background:#000;
}
header{
	position:absolute;
	top: 0;
	left: 0;
	width:100%;
	padding:20px 65px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
header .LogoNN2{
	position:relative;
	margin-left:10px;
	max-height:80px;
	max-width:40px;
}
header ul{
	position:relative;
	display:flex;
	justify-content: space-between;
}
header ul li{
	list-style:none;
}
header ul li a{
    margin:2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  border: 2px solid transparent;
    border-radius: 8%;
  display: inline-block;
  text-align: center;
  line-height: 15px;
  transition: 0.6s ease;
    padding: 8px 14px;
}
header ul li a:hover{
    background-color:transparent;
    color: #fff;
    border: 3px solid #00FFFF;
	box-shadow: 0 0 5px #00FFFF;
}
header ul li a.active{
    background-color:#00FFFF;
    color: #000;
}
.box
{
	  left:500px;
	  justify-content: center;
    align-items: center;
    position: relative;
    width: 380px;
    height: 380px;
    background: #1c1c1c;
    background-color: 8px;
    overflow: hidden;
}
.box::before 
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent, #45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent, #45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
.borderLine
{
    position: absolute;
    top: 0;
    inset: 0;
}
.borderLine::before
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent, #28fc81,#28fc81,#28fc81);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.borderLine::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent, #28fc81,#28fc81,#28fc81);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.box form
{
    position: relative;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;

}
.box form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .inputBox
{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.box form .inputBox input
{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.box form .inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;

}
.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span
{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}
.box form .inputBox i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i
{
    height: 44px;
}
.box form .links
{
  display: flex;
  justify-content: space-between;
}
.box form .links a
{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
.box form .links a:hover
.box form .links a:nth-child(2)
{
    color: #fff;
}
.box .button a{
    display:inline-block;
    margin-top:20px;
    padding:8px 20px;
    background: #28fc81;
    color:#000;
    border-radius:40px;
    font-weight: 500;
    letter-spacing:1px;
    text-decoration: none;
    left:100px;
}
.box .button a:hover{
    background-color:transparent;
    color: #28fc81;
    border: 3px solid #28fc81;
    box-shadow: 0 0 5px #28fc81;
}